<app-nav></app-nav>
<div style="background-color: black; height: 610px;">
<h1 class="a1" style="color: white;">Contact Me</h1>
<h5 class="a1 a2 a5">get in touch</h5>
<div class="a3 a6">
<h3 class="a5">Get in Touch</h3>
<p>Hello! I am Dhivakar if yo want anything contact me anytime</p><br>
<div class="row">
    <div class="c0l-6">
        <div _ngcontent-pxt-c1="" class="head"><i _ngcontent-pxt-c1="" aria-hidden="true" class="fa fa-address-card" style="color: crimson;"></i><b _ngcontent-pxt-c1="" style="margin-left: 20px;">Name</b> : Dhivakar.</div><br>
<div _ngcontent-pxt-c1="" class="head"><i _ngcontent-pxt-c1="" aria-hidden="true"  class="fa fa-map-marker" aria-hidden="true"  style="color: crimson;"></i><b _ngcontent-pxt-c1="" style="margin-left: 20px;">Location</b> : Eraiyur.</div><br>
<div _ngcontent-pxt-c1="" class="head"><i _ngcontent-pxt-c1="" aria-hidden="true" class="fa fa-envelope" aria-hidden="true" aria-hidden="true"  style="color: crimson;"></i><b _ngcontent-pxt-c1="" style="margin-left: 20px;">E-Mail</b> : dhivakar51101@gmail.com</div><br>
<div _ngcontent-pxt-c1="" class="head"><i _ngcontent-pxt-c1="" aria-hidden="true" class="fa fa-phone-square" aria-hidden="true" aria-hidden="true"  style="color: crimson;"></i><b _ngcontent-pxt-c1="" style="margin-left: 20px;">Mobile</b> :+91 9025541039.</div><br>
    </div>
    <div class="col=6 hh a6">
        <section id="contact">
  

  
            <div class="contact-wrapper">
            
            <!-- Left contact page --> 
              
              <form id="contact-form" class="form-horizontal" role="form">
                 
                <div class="form-group">
                  
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                  
                </div>
          
                <div class="form-group">
                  
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                  
                </div>
          
                <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                
                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                  <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                  </div>
                
                </button>
                
              </form>
              <hr>
          </div>
              
            
          </section>  
            </div>

</div>



