

<app-nav></app-nav>
<!-- animation marvel bacround -->
<div style="background-color: rgb(30, 30, 30);">
  <div class="wrapper run-animation" id="animate">
    <div class="logo">
  
      <span class="marvel">Dhivakar</span>
      <span class="studios">Portfolio</span>
      <h1 class="restart">HI, THIS IS <span style="color: rgb(243, 68, 68);">DHIVAKAR</span></h1>
      <div class="static-text restart"><span class="studios">I'm a Web</span> <span class="marvel">Developer</span></div>
    </div>
  </div>
  
  <div class="images"></div>
</div>