<app-nav></app-nav> 

<body>
  <div class="row">      <div class="a3">
      <h1 class="a2 a1">ABOUT ME</h1>
    <div class="col-6"><h2>Hello, My Name is</h2>
      <h3 class="text-2">Dhivakar</h3>
      <div class="wrapper">        
        <div class="static-txt">I am a</div>
        <ul class="dynamic-txt">
            <li><span>Angular Developer</span></li>
            <li><span>Web Developer</span></li>
            <li><span>Programmer</span></li>          
        </ul></div>     
      </div></div>
     <h5>Motivated and skilled front-end Angular developer with a solid 
      foundation in front-end development using Angular and TypeScript.
      Experienced in working as an intern at GT Software, where I 
      contributed to developing robust web applications. 
      Seeking opportunities to further enhance my skills and 
      contribute to innovative projects.</h5> 
    </div>
    <div class="a4" style=" border: 2px; border-radius:20px;">
    <img src="/assets/ps9.jpeg" class="rounded mx-auto d-block" alt="..." height="250px">
  </div>  