<app-nav></app-nav>
<div class="a3">
<h1 class="a1" style="color: aliceblue;">MY SKILLS</h1>
<h5 class="a1 a2">What i know</h5>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img height="155px" src="/assets/ps.jpeg">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title a1">Angular</h5>
          <p class="card-text">Data binding , Directives , pipes , Service <br>
            Angular forms creation & Validations <br>
            Template-driven forms & Reactive forms with validation 
            Angular APIs, including HttpClient for post and get, RouterModule, and FormsModule for form validation, to develop dynamic and interactive web applications.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img height="180px" src="/assets/ps2.jpg">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title a1">AWS Hosting</h5><br>
          <p class="card-text">
            Skilled in configuring and managing AWS services like EC2 for hosting virtual servers <br>
            Experience in acquiring and managing domain names, including registration, DNS configuration, and transfer, using services like Hostinger.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img height="180px" src="/assets/ps4.jpg">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title a1">Typescript</h5><br>
          <p class="card-text">
            Supporting principles of object-oriented programming such as inheritance, encapsulation, and <br> polymorphism. <br>
            Variables , Operators , Loops , Functions , Arrays.
            Solid knowledge and experience in TypeScript for scalable and maintainable front-end applications.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img height="160px" src="/assets/ps5.jpg">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title a1">HTML , Bootstrap , Css</h5>
          <p class="card-text">Bootstrap: I am familiar with the Bootstrap framework and its components. I have experience in utilizing the pre-designed Bootstrap components, grid system, and responsive design features to streamline the development process and enhance the user interface and user experience of web applications. I can customize and extend Bootstrap's functionality to meet specific project requirements.</p>
        </div>
      </div>
    </div>
  </div>

</div>