    <nav>
      <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
          <button class="nav-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <!-- links -->
        <ul class="links" >    
          <li>
            <a href="#" routerLink="/">home</a>
          </li>
          <li>
            <a href="#" routerLink="/about">About</a>
          </li>
          <li>
            <a href="#" routerLink="/work">Works</a>
          </li>
          <li>
            <a href="#" routerLink="/education">Education</a>
          </li>
          <li>
            <a href="#" routerLink="/skill">Skills</a>
          </li>
          <li>
            <a href="#" routerLink="/contact">Contact</a>
          </li>
        </ul>   
             
        <!-- social media -->
        <ul class="social-icons">
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-behance"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-sketch"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav><br>
    <div>
      
    </div>
<!-- 
<app-home></app-home> -->

